<!-- Start Portfolio Area -->
<div class="section-separator" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2 class="title">Projects</h2>
        </div>
      </div>
    </div>

    <div class="row row--25 mt--10 mt_md--10 mt_sm--10">

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectThree">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/image3.png" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Dalbit Petroleum</a>
                </div>
              </div>
              <h4 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  Company that engages in the trading, transport and management of Petroleum products in Africa.
                </a></h4>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectOne">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/image.png" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Instagram Shops</a>
                </div>
              </div>
              <h4 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  Platform Where You Discover New Instagram Shops.
                </a></h4>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectTwo">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/image2.png" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Business Forum System</a>
                </div>
              </div>
              <h4 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  Web application that allows management of a business forum.
                </a></h4>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectFour">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/image4.png" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Dangote</a>
                </div>
              </div>
              <h6 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  A company website to showcase the products of the company.
                </a></h6>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectFive">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/direct.co.ke.jpeg" alt="Direct.co.ke">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">Direct.co.ke</a>
                </div>
              </div>
              <h6 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  Direct is platform that allows showrooms, auctions and customers to interact with each other.
                </a></h6>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true"
        class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30">
        <div class="rn-portfolio" data-toggle="modal" data-target="#projectSix">
          <div class="inner">
            <div class="thumbnail">
              <a href="javascript:void(0)">
                <img src="assets/images/image6.png" alt="Personal Portfolio Images">
              </a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="javascript:void(0)">PAG Kenya</a>
                </div>
              </div>
              <h6 class="title"><a href="javascript:void(0)" class="text-capitalize">
                  Church website that allows people to know about the church.
                </a></h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center mt-5 mb-5">
        <a class="rn-btn" href="https://github.com/WilsonKinyua" target="_blank">
          <span>View More Projects</span>
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="projectOne" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                There are many businesses on Instagram we are not aware of. It takes time to find them however we are
                here to make these businesses known by leaving a review after you shop so that people can discover these
                great hidden gems.
              </p>
              <p>
                List your amazing shop and allow shoppers to find you and leave a review & rating after they shop with
                you.
              </p>
              <div class="button-group mt--20">
                <a href="https://leitta.com/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="projectTwo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image2.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                <!-- description of a business forum management system -->
                The business forum is a platform where you can manage a conference, or even meetup.
                Through this platform you can add members, manage the forum, post messages/news, and much more.
                Attendees can also meet with the members of the forum and discuss the topics within the system.
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://mvp.wezaprosoft.com" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectThree" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image3.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                Dalbit is a member of JCG Holdings Ltd. Established in 2002 in Kenya, where they supply and distribute
                petroleum
                products and services across East, Central and Southern Africa.
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://www.dalbitpetroleum.com/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectFour" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image4.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                Dangote Industries Limited is a diversified and fully integrated conglomerate with an annual group
                turnover in excess of US$4 billion (2016) with vibrant operations in Nigeria and Africa across a wide
                range of sectors including cement, sugar, salt, condiments, packaging, energy, port operations,
                fertilizer, and petrochemicals.
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://ler-web.netlify.app/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectFive" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/direct.co.ke.jpeg" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend/Backend</span> Web Development.
              </h3>
              <p class="mb--30">
                This is a plaform where showrooms, dealers and manufacturers can post their cars and sell them.
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://direct.co.ke/admin" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="projectSix" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-close"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="portfolio-popup-thumbnail">
              <div class="image">
                <img class="w-100" src="assets/images/image6.png" alt="slide">
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="text-content">
              <h3>
                <span>Category - Design/Frontend</span> Web Development.
              </h3>
              <p class="mb--30">
                Church website that allows people to know about the church.
              </p>
              <p>
              <div class="button-group mt--20">
                <a href="https://pagkenya.com/" class="rn-btn" target="_blank">
                  <span>VIEW PROJECT</span>
                  <i class="fa fa-arrow-right"></i>
                </a>
              </div>

            </div>
            <!-- End of .text-content -->
          </div>
        </div>
        <!-- End of .row Body-->
      </div>
    </div>
  </div>
</div>
